<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Altas</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <header>
        <h2 style="font-size: 40px; color: rgb(255, 0, 255); line-height: 1.5; text-align: center; margin-top: 50px">Formulario de Altas (Agregar Registros)</h2>
    </header>
    <div class="main-container">
        <!-- Sensores con imágenes y valores -->
        <div class="sensor-grid">
            <div class="sensor-card">
                <img src="/static/imagen/ID.png" alt="ID" class="sensor-img">
                <h2>ID del dato</h2>
                <h2 style="font-size: 15px;"><p id="sensor5-value">Valor: 0</p></h2>
            </div>
            <div class="sensor-card">
                <img src="/static/imagen/calidad-del-aire.png" alt="Calidad de Aire" class="sensor-img">
                <h2>Calidad de Aire</h2>
                <h2 style="font-size: 15px;"><p id="sensor1-value">Valor: 0</p></h2>
            </div>
            <div class="sensor-card">
                <img src="/static/imagen/humedad.png" alt="Humedad" class="sensor-img">
                <h2>Humedad</h2>
                <h2 style="font-size: 15px;"><p id="sensor4-value">Valor: 0</p></h2>
            </div>
            <div class="sensor-card">
                <img src="/static/imagen/temp.png" alt="Temperatura" class="sensor-img">
                <h2>Temperatura</h2>
                <h2 style="font-size: 15px;"><p id="sensor3-value">Valor: 0</p></h2>
            </div>
            <div class="sensor-card">
                <img src="/static/imagen/distancia.png" alt="Ultrasónico" class="sensor-img">
                <h2>Ultrasónico</h2>
                <h2 style="font-size: 15px;"><p id="sensor2-value">Valor: 0</p></h2>
            </div>
        </div>
    </div>
    <form action="/altas" method="POST" style="margin-left: 50px;">
        
        <input placeholder="INGRESE LA FECHA" class="input"  type="text" id="tiempo" name="tiempo" required><br>
        <input placeholder="AIRE" class="input"  type="number" step="any" id="aire" name="aire" required><br>
        <input placeholder="ULTRASONICO:" class="input" type="number" step="any" id="ultrasonico" name="ultrasonico" required><br>
        <input placeholder="TEMPERATURA" class="input"  type="number" step="any" id="temperatura" name="temperatura" required><br>
        <input placeholder="HUMEDAD" class="input" type="number" step="any" id="humedad" name="humedad" required><br>
        <button type="submit" class="Btn">SUBIR 
            <svg class="svg" viewBox="0 0 512 512">
              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path></svg>
        </button>
    </form>
    <style>
        label {
            margin-bottom: 10px; /* Espacio entre los labels */
        }
        input {
            margin-bottom: 10px; /* Espacio entre inputs */
        }
    </style>
    <!-- Botones en la esquina inferior derecha -->
    <div class="btn-container">
        <a href="/" class="btn-info">Volver a la página principal</a>
    </div>>
    <script>
        const socket = io();
    
        // Escucha el evento 'updateTable' y actualiza la información de los sensores
        socket.on('updateTable', (data) => {
            // Actualiza los valores de los sensores en tiempo real
            $('#sensor1-value').text("Valor: " + data.aire);
            $('#sensor2-value').text("Valor: " + data.Ultrasonico);
            $('#sensor3-value').text("Valor: " + data.Temperatura);
            $('#sensor4-value').text("Valor: " + data.Humedad);
            $('#sensor5-value').text("ID: " + data.id);
        });
    </script>
</body>
</html>
