<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Móvil de Monitoreo</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <header>
        <h2 style="font-size: 40px; color: rgb(255, 0, 255); line-height: 1.5; text-align: center; margin-top: 50px">SISTEMA MOVIL DE MONITOREO</h2>
    </header>

    <div class="main-container">
        <!-- Video en vivo -->
        <div class="video-section">
            <h2>Video en Vivo</h2>
            <video id="liveVideo" autoplay muted loop>
                <source src="/static/imagen/bouncing.mp4" type="video/mp4">
                Tu navegador no soporta el video HTML5.
            </video>
        </div>

        <!-- Sensores con imágenes y valores -->
        <div class="sensor-grid">
            <div class="sensor-card">
                <img src="/static/imagen/calidad-del-aire.png" alt="Calidad de Aire" class="sensor-img">
                <h2>Calidad de Aire</h2>
                <h2 style="font-size: 15px;"></he><p id="sensor1-value">Valor: 0</p></h2>
            </div>
            <div class="sensor-card">
                <img src="/static/imagen/humedad.png" alt="Humedad" class="sensor-img">
                <h2>Humedad</h2>
                <h2 style="font-size: 15px;"><p id="sensor4-value">Valor: 0</p></h2>
            </div>
            <div class="sensor-card">
                <img src="/static/imagen/temp.png" alt="Temperatura" class="sensor-img">
                <h2>Temperatura</h2>
                <h2 style="font-size: 15px;"><p id="sensor3-value">Valor: 0</p></h2>
            </div>
            <div class="sensor-card">
                <img src="/static/imagen/distancia.png" alt="Ultrasónico" class="sensor-img">
                <h2>Ultrasónico</h2>
                <h2 style="font-size: 15px;"><p id="sensor2-value">Valor: 0</p></h2>
            </div>
        </div>
    </div>

    <!-- Botones en la esquina inferior derecha -->
    <div class="btn-container">
        <a href="/" class="btn-info">Inicio</a>
        <a href="/grafico" class="btn-info">Ver Gráficas en Tiempo Real</a>
        <a href="/altas" class="btn-info">Altas modificaciones</a>
        <a href="/bajas" class="btn-info">Bajas modificaciones</a>
        <a href="/control" class="btn-info">Control remoto</a>
    </div>

    <script>
        const socket = io();
    
        // Escucha el evento 'updateTable' y actualiza la información de los sensores
        socket.on('updateTable', (data) => {
            // Actualiza los valores de los sensores en tiempo real
            $('#sensor1-value').text("Valor: " + data.aire);
            $('#sensor2-value').text("Valor: " + data.Ultrasonico);
            $('#sensor3-value').text("Valor: " + data.Temperatura);
            $('#sensor4-value').text("Valor: " + data.Humedad);
        });
    </script>
    
</body>
</html>
